*{
    padding: 0;
    margin: 0;
}

#hero{
    background-image: url("assets/img/bg-blue.png");
    background-size: cover;
    height: 100%;
}

.hidden-x{
    overflow-x: hidden;
}

.bg-blue{
    background-color: #7280FF;
}

.navbar #hero {
    background-color: transparent !important;
}

.card{
    border: none !important;
}

.gallery {
    --n: 1; /* number of rows*/
    --m: 4; /* number of columns */
    --g: 4px;  /* control the gap */
    --f: .8;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 95vw;
    height: 50vh;
    grid-template-columns: repeat(var(--m),auto);
}

.gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .35s linear;
}

.gallery img:hover{
    filter: grayscale(0);
    width:  calc(40vh*var(--f)/var(--n));
    height: calc(70vw*var(--f)/var(--m));
}

.ov-btn{
    border: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
/* 
.ov-btn:hover{
    color: #000;
} */

.ov-btn::after{
    content: "";
    background: #4c73ff;
    position: absolute;
    z-index: -1;
    display: block;
    padding: 16px 20px;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0,0);
    transition: all 0.4s ease;
}

.ov-btn:hover::after{
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
}

.font-size-3{
    font-size: 40px;
}

.height-300{
    height: 300px;
}

footer{
    width: 100%;
}

list-style{
    list-style: none;
}

@media screen and (max-width: 575px){
    .info{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 20%;
    }
    .links{
        width: 80%;
    }
    .content-img-alcalde{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section .hijo-contenedor-1,.hijo-contenedor-2{
        height: 200px;
    }
   
}
@media screen and (max-width: 522px){
   
   .logo{
    width: 20%;
    }
    .links{
    width: 80%;
    display: flex;
    flex-direction: column;
    }
   
   
}


.logo-header{
    height: 80px;
    width: auto;
}
/* Waves Animation start*/

.hero_area {
    position: relative;
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

/* Waves Animation end*/