*{
    padding: 0;
    margin: 0;
}

#hero{
    background-image: url("/assets/img/bg-blue.png");
    background-size: cover;
    height: 100%;
}

.hidden-x{
    overflow-x: hidden;
}

.bg-blue{
    background-color: #7280FF;
}

.navbar #hero {
    background-color: transparent !important;
}

.card{
    border: none !important;
}

.gallery {
    --n: 1; /* number of rows*/
    --m: 4; /* number of columns */
    --g: 4px;  /* control the gap */
    --f: .8;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 95vw;
    height: 50vh;
    grid-template-columns: repeat(var(--m),auto);
}

.gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .35s linear;
}

.gallery img:hover{
    filter: grayscale(0);
    width:  calc(40vh*var(--f)/var(--n));
    height: calc(70vw*var(--f)/var(--m));
}

.ov-btn{
    border: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
/* 
.ov-btn:hover{
    color: #000;
} */

.ov-btn::after{
    content: "";
    background: #4c73ff;
    position: absolute;
    z-index: -1;
    display: block;
    padding: 16px 20px;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0,0);
    transition: all 0.4s ease;
}

.ov-btn:hover::after{
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
}

.font-size-3{
    font-size: 40px;
}

footer{
    width: 100%;
}

list-style{
    list-style: none;
}

@media screen and (max-width: 575px){
    .info{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 20%;
    }
    .links{
        width: 80%;
    }
    .content-img-alcalde{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}
@media screen and (max-width: 522px){
   
   .logo{
    width: 20%;
    }
    .links{
    width: 80%;
    display: flex;
    flex-direction: column;
    }
   
   
}